.calcontainer {
  width: 350px;
  height: 350px;
  background-color: rgb(59, 46, 46);
  padding: 5px;
}
.output {
  line-height: 40px;
  background-color: azure;
  color: black;
  height: 40px;
  margin-bottom: 10px;
  font-size: 1.3em;
  text-align: right;
  font-family: monospace;
  padding: 0 8px;
}
.btn {
  color: azure;
  padding: 1px;
  margin: 3px;
  background-color: azure;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  vertical-align: middle;
  line-height: 50px;
}
